@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/maax-webfont.woff2') format('woff2'),
        url('../fonts/maax-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Maax-Medium';
  font-weight: 600;
  font-display: swap;
  src:  url('../fonts/maax-medium-webfont.woff2') format('woff2'),
        url('../fonts/maax-medium-webfont.woff') format('woff');
}

.toggleSlider {
    width: 100vw;
    max-width: 1440px;
    background: $body-color;
    font-family: $sans;
    overflow: hidden;
    position: relative;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::selection {
        background: $green-500;
        color: #fff;
    }

    &__padding {
        margin: 20px;
        overflow: hidden;
        border-radius: 5px;
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
        @include breakpoint (desktop) {
            margin: 50px;
            position: relative;
        }
    }

    &__wrapper {
        background: #fff;
        display: flex;
        width: 400%;
        transition: transform .6s ease-in-out;

        @include breakpoint (desktop) {
            width: auto;
        }

        &--two {
            transform: translateX(-25%);
            @include breakpoint (desktop) {
                transform: translateX(0);
            }
        }

        &--three {
            transform: translateX(-50%);
            @include breakpoint (desktop) {
                transform: translateX(0);
            }
        }

        &--four {
            transform: translateX(-75%);
            @include breakpoint (desktop) {
                transform: translateX(0);
            }
        }
    }

    &__navigation {
        position: fixed;
        display: flex;
        bottom: 80px;
        left: 30px;
        right: 30px;
        z-index: 10;
        @include breakpoint (desktop) {
            display: none;
        }

        &__button {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: $green-500;
            text-align: center;
            border: 0;
            transition: all .1s ease-in;
            svg {
                width: 15px;
                height: auto;
                margin-left: 12px;
            }
            &:focus {
                outline: none;
            }
            &--prev {
                padding-left: 3px;
            }
            &--next {
                margin-left: auto;
                padding-right: 3px;
            }
            &--hidden {
                opacity: 0;
                pointer-events: none;
                @include breakpoint (desktop) {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
            &:active {
                transform: scale(.9,.9);
            }
        }
    }

    &__section {
        width: 100%;
        height: calc(100vh - 40px);
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;
        @include breakpoint (desktop) {
            width: calc(100% - 150px);
            display: flex;
            height: 100%;
            overflow: hidden;
        }
        &--absolute {
            transition: transform .6s ease-in-out;
            @include breakpoint (desktop) {
                position: absolute;
            }
        }
        &--morning {
            @include breakpoint (desktop) {
                transform: translateX(100%);
            }
        }
        &--morning.toggleSlider__section--open {
            @include breakpoint (desktop) {
                transform: translateX(50px);

            }        }
        &--afternoon {
            @include breakpoint (desktop) {
                transform: translateX(100%) translateX(50px);
            }
        }
        &--afternoon.toggleSlider__section--open {
            @include breakpoint (desktop) {
                transform: translateX(50 * 2px);
            }
        }
        &--evening {
            @include breakpoint (desktop) {
                transform: translateX(100%) translateX(100px);
            }
        }
        &--evening.toggleSlider__section--open {
            @include breakpoint (desktop) {
                transform: translateX(50 * 3px);
            }
        }
    }

    &__section__content {
        width: 100%;
        @include breakpoint (desktop) {
            margin: 30px;
            overflow: hidden;
        }
        p {
            font-size: 16px;
            line-height: 1.5rem;
            margin-top: 0;
            @include breakpoint (large-desktop) {
                font-size: 18px;
            }
        }
        a {
            color: $text-color;
            font-weight: 600;
            transition: all .1s ease;
            &:visited {
                color: $text-color;
            }
            &:hover {
                background: $green-500;
                color: #fff;
            }
        }
        &--portrait {
            @include breakpoint (desktop) {
                display: flex;
                flex-wrap: wrap;
            }
            .toggleSlider__section__content__image {
                overflow: hidden;
                position: relative;
                @include breakpoint (desktop) {
                    width: 60%;
                }
                img {
                    height: auto;
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    backface-visibility: hidden;
                    @include breakpoint (desktop) {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        min-height: 100%;
                        min-width: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .toggleSlider__section__content__text {
                padding: 30px 30px 90px 30px;
                display: flex;
                flex-direction: column;
                @include breakpoint (desktop) {
                    width: 40%;
                    padding: 30px 30px 0 30px;
                }
                h2 {
                    font-family: Maax-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 54px;
                    line-height: 90%;
                    font-weight: 400;
                    margin: 0;
                    &.secondWord {
                        margin-bottom: 20px;
                    }
                    @include breakpoint (desktop) {
                        font-size: 54px;
                    }
                    @include breakpoint (large-desktop) {
                        font-size: 72px;
                        &.secondWord {
                            margin-bottom: 50px;
                        }
                    }
                    div {
                        width: 100%;
                        display: flex;
                    }
                }
            }
            .toggleSlider__section__content__sponsored {
                margin-top: 30px;
                @include breakpoint (desktop) {
                    margin-top: auto;
                }
                .toggleSlider__section__content__image {
                }
                &__title {
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: .1rem;
                    margin-bottom: 10px;
                    font-size: 15px;
                }
                &__content {
                    display: flex;
                    align-items: start;
                    text-decoration: none;
                    span {
                        text-decoration: underline;
                    }
                    &:hover {
                        background: #fff;
                        color: $text-color;
                        span {
                            background: $green-500;
                            color: #fff;
                        }
                    }
                }
                img {
                    width: 90px;
                    margin-right: 15px;
                    display: block;
                }
                p {
                    max-width: 60%;
                    font-size: 15px;
                    line-height: 1.35rem;
                }
            }
        }
        &--tea {
            padding: 0 0 90px 0;
            @include breakpoint (desktop) {
                padding: 80px 30px 60px 30px;
            }
            img {
                width: 100%;
                height: auto;
                margin-bottom: 30px;
                display: block;
            }
            .toggleSlider__section__content__text {
                padding: 30px;
                @include breakpoint (desktop) {
                    display: flex;
                    padding: 0;
                }
                &__heading {
                    display: flex;
                    flex-direction: column;
                    @include breakpoint (mobile) {
                        width: 50%
                    }
                    @include breakpoint (desktop) {
                        padding-right: 10%;
                    }
                }
                &__description {
                    margin-top: 30px;
                    .desktop {
                        display: none;
                    }
                    @include breakpoint (desktop) {
                        margin-top: 90px;
                        width: 50%;
                        .mobile {
                            display: none;
                        }
                        .desktop {
                            display: block;
                        }
                    }
                }
                h2 {
                    font-family: Maax-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 78px;
                    font-weight: 400;
                    line-height: 78%;
                    margin: 0;
                    display: flex;
                    @include breakpoint (desktop) {
                        font-size: 120px;
                    }
                }
                .right {
                    margin-left: auto;
                }
            }
        }
    }


    &__section__title {
        width: 100%;
        text-align: center;
        color: $white;
        padding: 6px;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        background: $green-500;
        transition: background-color .1s ease-in;
        @include breakpoint (desktop) {
            padding: 16px;
            width: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &:hover {
                cursor: pointer;
                background: darken($green-500, 5%);
            }
        }
        &--morning {
            background: $yellow-500;
            @include breakpoint (desktop) {
                &:hover {
                    background: darken($yellow-500, 5%);
                }
            }
        }
        &--afternoon {
            background: $blue-500;
            @include breakpoint (desktop) {
                &:hover {
                    background: darken($blue-500, 5%);
                }
            }
        }
        &--evening {
            background: $blue-900;
            @include breakpoint (desktop) {
                &:hover {
                    background: darken($blue-900, 5%);
                }
            }
        }
    }
}