.slide-contain {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAF7F5;
    padding: 25px;
    max-width: 2000px;
    margin: 0 auto;
    & * {
        transition: all, 0.5s;
    }
    @include breakpoint (desktop) {
        flex-direction: row-reverse;
    }
    &.toggled {
        .image-wrap {
            .tired {
                width: 100%;
            }
        }
        .toggle {
            left: 100%;
            transform: translateX(-100%);
            .arrow::before {
                left: 40%;
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }
        .info-wrap {
            .awake {
                display: none;
            }
            .tired {
                display: block;
            }
        }
    }
    .info-wrap {
        margin-bottom: 5vw;
        @include breakpoint (desktop) {
            width: 50%;
            margin: 0;
            padding: 5vw;
        }
        .hidden, .tired {
            display: none;
        }
        .title {
            font-size: 45px;
            line-height: 1.2;
            font-weight: 500;
            @include breakpoint (desktop) {
                font-size: calc(45px + 0.5vw);
            }
        }
        .highlight {
            margin: 0 10px;
            color: $white;
            background: $yellow-alpha;
            box-shadow: 10px 0 0 $yellow-alpha, -10px 0 0 $yellow-alpha;
            box-decoration-break: clone;
        }
        .content-block {
            display: none;
            position: absolute;
            left: 25px;
            right: 25px;
            bottom: 25px;
            z-index: 2000;
            background: #FAF7F5;
            border: 15px solid $white;
            padding: 50px;
            &.visible {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include breakpoint (desktop) {
                    display: block;
                }
            }
            @include breakpoint (desktop) {
                position: relative;
                margin-top: 5vw;
                padding: 0 0 0 60px;
                height: auto !important;
                border: 0;
                left: auto;
                right: auto;
                bottom: auto;
                font-size: calc(16px + 0.5vw);
            }
            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                color: $text-color;
                font-size: 12px;
                text-transform: uppercase;
                @include breakpoint (desktop) {
                    display: none;
                }
            }
        }
        .num {
            width: 45px;
            height: 45px;
            line-height: 37px;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 100%;
            border: 4px solid $white;
            background: $yellow-alpha;
            color: $white;
            @include breakpoint (desktop) {
                position: absolute;
                top: -5px;
                left: 0;
            }
        }
        .heading {
            font-size: 26px;
            line-height: 1.2;
            color: $yellow-alpha;
            @include breakpoint (desktop) {
                font-size: calc(26px + 0.25vw);
            }
        }
    }
    .image-wrap {
        overflow: hidden;
        position: relative;
        border: 15px solid $white;
        @include breakpoint (desktop) {
            width: 50%;
            border-width: 25px;
        }
        .tired {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0px;
            overflow: hidden;
            z-index: 500;
            img {
                max-width: none;
            }
        }
    }
    .hot-spots {
        position: absolute;
        width: 100%;
        height: 100%;
        a {
            position: absolute;
            display: block;
            width: 45px;
            height: 45px;
            line-height: 37px;
            text-align: center;
            border-radius: 100%;
            border: 4px solid $white;
            background: $yellow-alpha;
            color: $white;
        }
    }
    .toggle {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        border-left: 10px solid $yellow-alpha;
        .arrow {
            position: absolute;
            top: 50%;
            left: -5px;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background: $yellow-alpha;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                top: 50%;
                left: 60%;
                transform: translate(-50%, -50%) rotate(45deg);
                border-right: 4px solid $white;
                border-top: 4px solid $white;
            }
        }
    }
}