@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/maax-webfont.woff2') format('woff2'),
        url('../fonts/maax-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Maax-Medium';
  font-weight: 500;
  font-display: swap;
  src:  url('../fonts/maax-medium-webfont.woff2') format('woff2'),
        url('../fonts/maax-medium-webfont.woff') format('woff');
}

.toggleSlider {
    background: $body-color;
    font-family: $sans;
    @include breakpoint (desktop) {
    }
    ::-moz-selection { background: $link-color; color: $white; text-shadow: none; }
    ::selection { background: $link-color; color: $white; text-shadow: none; }
}