language: node_js
node_js:
  - "node"
install:
  - npm i
script:
  # run generator
  - CI=false gulp build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: dist
  target_branch: master
  on:
    branch: dev
