/* -----------------------------------------------------------------
	GENERAL ELEMENTS
------------------------------------------------------------------*/
html {
	background: $body-color;
	font-size: $text-size;
	font-family: $font-family;
	line-height: $line-height;
	color: $text-color;
}

body {	
	background: $body-color;
	overflow-x: hidden;
}



// ------------------------------------------------------------------
// HELPERS
// ------------------------------------------------------------------
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

.iframe-wrap {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    iframe {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}

.alignleft, .alignright, .aligncenter {
	float: none;
	margin: 30px auto;
	@extend %flatten;
}
.alignleft {
	@include breakpoint (tablet) {
		float: left;
		margin: 0 30px 30px 0;
	}
}
.alignright {
	@include breakpoint (tablet) {
		float: right;
		margin: 0 0 30px 30px;
	}
}
