// ------------------------------------------------------------------
// BREAKPOINT SETTINGS
// ------------------------------------------------------------------
@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 460px) { @content; }
    }
    @if $point == desktop {
        @media (min-width: 1028px) { @content; }
	}
	// @if $point == desktop {
    //     @media (min-width: 940px) { @content; }
    // }
}

// ------------------------------------------------------------------
// TRANSITION SETTINGS
// ------------------------------------------------------------------
@mixin transition($property: all, $duration: 0.3s) {
	transition: $property $duration;
}

// ------------------------------------------------------------------
// ICONS
// ------------------------------------------------------------------
@mixin icon ($size, $radius: 0px) {
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
	padding: 0;
	@if $radius == 'round' {
		-webkit-border-radius: $size;
		border-radius: $size;
	}
}
