@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/maax-webfont.woff2") format("woff2"), url("../fonts/maax-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Maax-Medium';
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/maax-medium-webfont.woff2") format("woff2"), url("../fonts/maax-medium-webfont.woff") format("woff"); }

.toggleSlider {
  background: #F8F1EB;
  font-family: "Maax-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .toggleSlider ::-moz-selection {
    background: #EEAD01;
    color: #fff;
    text-shadow: none; }
  .toggleSlider ::selection {
    background: #EEAD01;
    color: #fff;
    text-shadow: none; }
