@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/maax-webfont.woff2") format("woff2"), url("../fonts/maax-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Maax-Medium';
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/maax-medium-webfont.woff2") format("woff2"), url("../fonts/maax-medium-webfont.woff") format("woff"); }

.toggleSlider {
  width: 100vw;
  max-width: 1440px;
  background: #F8F1EB;
  font-family: "Maax-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: relative;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .toggleSlider ::-moz-selection {
    background: #0F620A;
    color: #fff; }
  .toggleSlider ::selection {
    background: #0F620A;
    color: #fff; }
  .toggleSlider__padding {
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
    @media (min-width: 1024px) {
      .toggleSlider__padding {
        margin: 50px;
        position: relative; } }
  .toggleSlider__wrapper {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500%;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out; }
    @media (min-width: 1024px) {
      .toggleSlider__wrapper {
        width: auto; } }
    .toggleSlider__wrapper--two {
      -webkit-transform: translateX(-20%);
          -ms-transform: translateX(-20%);
              transform: translateX(-20%); }
      @media (min-width: 1024px) {
        .toggleSlider__wrapper--two {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
    .toggleSlider__wrapper--three {
      -webkit-transform: translateX(-40%);
          -ms-transform: translateX(-40%);
              transform: translateX(-40%); }
      @media (min-width: 1024px) {
        .toggleSlider__wrapper--three {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
    .toggleSlider__wrapper--four {
      -webkit-transform: translateX(-60%);
          -ms-transform: translateX(-60%);
              transform: translateX(-60%); }
      @media (min-width: 1024px) {
        .toggleSlider__wrapper--four {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
    .toggleSlider__wrapper--five {
      -webkit-transform: translateX(-80%);
          -ms-transform: translateX(-80%);
              transform: translateX(-80%); }
      @media (min-width: 1024px) {
        .toggleSlider__wrapper--five {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
  .toggleSlider__navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 80px;
    left: 30px;
    right: 30px;
    z-index: 10; }
    @media (min-width: 1024px) {
      .toggleSlider__navigation {
        display: none; } }
    .toggleSlider__navigation__button {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background: #0F620A;
      text-align: center;
      border: 0;
      -webkit-transition: all .1s ease-in;
      -o-transition: all .1s ease-in;
      transition: all .1s ease-in; }
      .toggleSlider__navigation__button svg {
        width: 15px;
        height: auto;
        margin-left: 12px; }
      .toggleSlider__navigation__button:focus {
        outline: none; }
      .toggleSlider__navigation__button--prev {
        padding-left: 3px; }
      .toggleSlider__navigation__button--next {
        margin-left: auto;
        padding-right: 3px; }
      .toggleSlider__navigation__button--hidden {
        opacity: 0;
        pointer-events: none; }
        @media (min-width: 1024px) {
          .toggleSlider__navigation__button--hidden {
            pointer-events: auto;
            opacity: 1; } }
      .toggleSlider__navigation__button:active {
        -webkit-transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9);
                transform: scale(0.9, 0.9); }
  .toggleSlider__section {
    width: 100%;
    height: calc(100vh - 40px);
    background: white;
    overflow-y: scroll;
    overflow-x: hidden; }
    @media (min-width: 1024px) {
      .toggleSlider__section {
        width: calc(100% - 200px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        overflow: hidden; } }
    .toggleSlider__section--absolute {
      -webkit-transition: -webkit-transform .6s ease-in-out;
      transition: -webkit-transform .6s ease-in-out;
      -o-transition: transform .6s ease-in-out;
      transition: transform .6s ease-in-out;
      transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out; }
      @media (min-width: 1024px) {
        .toggleSlider__section--absolute {
          position: absolute; } }
    @media (min-width: 1024px) {
      .toggleSlider__section--morning {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--morning.toggleSlider__section--open {
        -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
                transform: translateX(50px); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--afternoon {
        -webkit-transform: translateX(100%) translateX(50px);
            -ms-transform: translateX(100%) translateX(50px);
                transform: translateX(100%) translateX(50px); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--afternoon.toggleSlider__section--open {
        -webkit-transform: translateX(100px);
            -ms-transform: translateX(100px);
                transform: translateX(100px); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--evening {
        -webkit-transform: translateX(100%) translateX(100px);
            -ms-transform: translateX(100%) translateX(100px);
                transform: translateX(100%) translateX(100px); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--evening.toggleSlider__section--open {
        -webkit-transform: translateX(150px);
            -ms-transform: translateX(150px);
                transform: translateX(150px); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--friday {
        -webkit-transform: translateX(100%) translateX(150px);
            -ms-transform: translateX(100%) translateX(150px);
                transform: translateX(100%) translateX(150px); } }
    @media (min-width: 1024px) {
      .toggleSlider__section--friday.toggleSlider__section--open {
        -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
                transform: translateX(200px); } }
  .toggleSlider .desktop {
    display: none !important; }
  @media (min-width: 1024px) {
    .toggleSlider .mobile {
      display: none !important; }
    .toggleSlider .desktop {
      display: block !important; } }
  .toggleSlider .toggleSlider__section__content__text__heading.mobile-break {
    display: block; }
    @media (min-width: 1024px) {
      .toggleSlider .toggleSlider__section__content__text__heading.mobile-break {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .toggleSlider__section__content {
    width: 100%; }
    @media (min-width: 1024px) {
      .toggleSlider__section__content {
        margin: 30px;
        overflow: hidden; } }
    .toggleSlider__section__content p {
      font-size: 16px;
      line-height: 1.5rem;
      margin-top: 0; }
      @media (min-width: 1200px) {
        .toggleSlider__section__content p {
          font-size: 18px; } }
    .toggleSlider__section__content a {
      color: #222;
      font-weight: 600;
      -webkit-transition: all .1s ease;
      -o-transition: all .1s ease;
      transition: all .1s ease; }
      .toggleSlider__section__content a:visited {
        color: #222; }
      .toggleSlider__section__content a:hover {
        background: #0F620A;
        color: #fff; }
    @media (min-width: 1024px) {
      .toggleSlider__section__content--portrait {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .toggleSlider__section__content--portrait .toggleSlider__section__content__image {
      overflow: hidden;
      position: relative; }
      @media (min-width: 1024px) {
        .toggleSlider__section__content--portrait .toggleSlider__section__content__image {
          width: 60%; } }
      .toggleSlider__section__content--portrait .toggleSlider__section__content__image img {
        height: auto;
        width: 100%;
        display: block;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden; }
        @media (min-width: 1024px) {
          .toggleSlider__section__content--portrait .toggleSlider__section__content__image img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); } }
    .toggleSlider__section__content--portrait .toggleSlider__section__content__text {
      padding: 30px 30px 90px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (min-width: 1024px) {
        .toggleSlider__section__content--portrait .toggleSlider__section__content__text {
          width: 40%;
          padding: 30px 30px 0 30px; } }
      .toggleSlider__section__content--portrait .toggleSlider__section__content__text h2 {
        font-family: Maax-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 54px;
        line-height: 90%;
        font-weight: 400;
        margin: 0; }
        .toggleSlider__section__content--portrait .toggleSlider__section__content__text h2.secondWord {
          margin-bottom: 20px; }
        @media (min-width: 1024px) {
          .toggleSlider__section__content--portrait .toggleSlider__section__content__text h2 {
            font-size: 54px; } }
        @media (min-width: 1200px) {
          .toggleSlider__section__content--portrait .toggleSlider__section__content__text h2 {
            font-size: 54px; }
            .toggleSlider__section__content--portrait .toggleSlider__section__content__text h2.secondWord {
              margin-bottom: 50px; } }
        .toggleSlider__section__content--portrait .toggleSlider__section__content__text h2 div {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
    .toggleSlider__section__content .toggleSlider__section__content__sponsored {
      margin-top: 30px; }
      @media (min-width: 1024px) {
        .toggleSlider__section__content .toggleSlider__section__content__sponsored {
          margin-top: auto; } }
      .toggleSlider__section__content .toggleSlider__section__content__sponsored__title {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-bottom: 10px;
        font-size: 15px; }
      .toggleSlider__section__content .toggleSlider__section__content__sponsored__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        text-decoration: none; }
        .toggleSlider__section__content .toggleSlider__section__content__sponsored__content span {
          text-decoration: underline; }
        .toggleSlider__section__content .toggleSlider__section__content__sponsored__content:hover {
          background: #fff;
          color: #222; }
          .toggleSlider__section__content .toggleSlider__section__content__sponsored__content:hover span {
            background: #0F620A;
            color: #fff; }
      .toggleSlider__section__content .toggleSlider__section__content__sponsored img {
        width: 90px;
        margin-right: 15px;
        display: block; }
      .toggleSlider__section__content .toggleSlider__section__content__sponsored p {
        max-width: 60%;
        font-size: 15px;
        line-height: 1.35rem; }
    .toggleSlider__section__content--tea {
      padding: 0 0 90px 0; }
      @media (min-width: 1024px) {
        .toggleSlider__section__content--tea {
          padding: 30px 30px 90px 30px; } }
      .toggleSlider__section__content--tea img {
        width: 100%;
        height: auto;
        display: block; }
      .toggleSlider__section__content--tea .toggleSlider__section__content__text {
        padding: 30px; }
        .toggleSlider__section__content--tea .toggleSlider__section__content__text__description {
          margin-top: 30px;
          margin-bottom: 30px; }
          .toggleSlider__section__content--tea .toggleSlider__section__content__text__description .desktop {
            display: none; }
          @media (min-width: 1024px) {
            .toggleSlider__section__content--tea .toggleSlider__section__content__text__description {
              margin-top: 40px; }
              .toggleSlider__section__content--tea .toggleSlider__section__content__text__description .mobile {
                display: none; }
              .toggleSlider__section__content--tea .toggleSlider__section__content__text__description .desktop {
                display: block; } }
        .toggleSlider__section__content--tea .toggleSlider__section__content__text h2 {
          font-family: Maax-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 54px;
          font-weight: 400;
          line-height: 1;
          margin: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          @media (min-width: 1024px) {
            .toggleSlider__section__content--tea .toggleSlider__section__content__text h2 {
              font-size: 72px; } }
        .toggleSlider__section__content--tea .toggleSlider__section__content__text .right {
          margin-left: auto; }
  .toggleSlider__section__title {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 6px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background: #0F620A;
    -webkit-transition: background-color .1s ease-in;
    -o-transition: background-color .1s ease-in;
    transition: background-color .1s ease-in; }
    @media (min-width: 1024px) {
      .toggleSlider__section__title {
        padding: 16px;
        width: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .toggleSlider__section__title:hover {
          cursor: pointer;
          background: #0b4b08; } }
    .toggleSlider__section__title--morning {
      background: #CBDB2E; }
      @media (min-width: 1024px) {
        .toggleSlider__section__title--morning:hover {
          background: #bdcc23; } }
    .toggleSlider__section__title--friday {
      background: #003D76; }
      @media (min-width: 1024px) {
        .toggleSlider__section__title--friday:hover {
          background: #00305d; } }
    .toggleSlider__section__title--afternoon {
      background: #FEC027; }
      @media (min-width: 1024px) {
        .toggleSlider__section__title--afternoon:hover {
          background: #feb90e; } }
    .toggleSlider__section__title--evening {
      background: #9FCCDF; }
      @media (min-width: 1024px) {
        .toggleSlider__section__title--evening:hover {
          background: #8cc2d9; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.toggleSlider__section--open h2 span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(1) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(2) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(6) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(8) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(9) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(11) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(12) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(13) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(13) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(14) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(14) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(15) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(15) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(16) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(16) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(17) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(17) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(18) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(18) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2 span:nth-child(19) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--open h2.secondWord span:nth-child(19) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.toggleSlider__section--animated .fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

.toggleSlider__section--animated .fadeIn {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }
  @media (min-width: 1024px) {
    .toggleSlider__section--animated .fadeIn {
      -webkit-animation-name: fadeIn;
              animation-name: fadeIn; } }

.toggleSlider__section--animated .fadeInRight {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }
  @media (min-width: 1024px) {
    .toggleSlider__section--animated .fadeInRight {
      -webkit-animation-name: fadeInRight;
              animation-name: fadeInRight; } }

.toggleSlider__section--animated .animated {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.toggleSlider__section--animated.toggleSlider__section--absolute .animated.fadeIn, .toggleSlider__section--animated.toggleSlider__section--absolute .animated.fadeInRight {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; }
